<footer class="footer">
    <div class="footer__content">
        <header class="footer__header">
            <a class="footer__logo" href="./index.html">
                <img class="logo" src="../images/PaloAltoFooter.png" alt="There should be a logo">
            </a>
            <ul class="navigation navigation_footer">
                <li class="navigation__item navigation__item_footer navigation__item_home">
                    <a class="link_navFooterItem item__home" href="./index.html">home</a>
                </li>
                <li class="navigation__item navigation__item_footer">
                    <a class="link_navFooterItem item__about" href="aboute.com">about</a>
                </li>
                <li class="navigation__item navigation__item_footer">
                    <a class="link_navFooterItem item__archive" href="archive.com">archive</a>
                </li>
                <li class="navigation__item navigation__item_footer">
                    <a class="link_navFooterItem item__contact" href="./contact.html">contact</a>
                </li>
                <li class="navigation__item navigation__item_footer navigation__item_search">
                    <a class="item__search item__search_footer" href="search.com">
                    </a>
                </li>
            </ul>
        </header>
        <div class="footer__main">
            <p class="main__text_footer">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
        </div>
        <footer class="footer__footer">
            <p class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="link_copyright" href="www.PixelBuddha.com">PixelBuddha Team</a></p>
            <nav class="soc-net list">
                <li class="soc-net__item">
                    <a class="item item_facebook" href="http://www.facebook.com"></a>
                </li>
                <li class="soc-net__item">
                    <a class="item item_instagram" href="http://www.instagram.com"></a>
                </li>
                <li class="soc-net__item">
                    <a class="item item_pinterest" href="http://www.pinterest.com"></a>
                </li>
                <li class="soc-net__item">
                    <a class="item item_twitter" href="http://www.twitter.com">
                    </a>
                </li>
            </nav>    
        </footer>
    </div>
</footer>