body {
    background-color: #f7f9fc;
    /* width: 955px;  */
    width: 80%;
    margin: auto;
    margin-top: 80px;
    font-size: 62.5%;
}

/*header*/
.header {
    position: relative;
    margin-bottom: 80px;
    width: 100%;
}

.logo {
    /* width: 160px; */
    width: auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    
    text-transform: uppercase;
}

.navigation_header {
    display: inline-block;
    position: absolute;
    right: 0;
}

.navigation__item {
    font-family: "Lato", sans-serif;
    letter-spacing: 0.05em;
    font-size: 1.6em;
}

.navigation__item_header {
    display: inline;
    margin-left: 40px; 
    font-weight: bolder;
}

.navigation__item_header > .link_disable {
    color: #bdbdbd;
}

.link_navHeaderItem {
    text-decoration: none;
    color: #333333;
    position: relative;
}

.link_disable {
    pointer-events: none;
}

.link_navHeaderItem::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #5c6bc0;
    bottom: -4px;
    right: -2px;
    left: calc(100% + 2px);
    transition: left 0.3s ease-in-out;
}

.link_navHeaderItem:hover:after {
    left: -2px;
}

.link_navHeaderItem:active {
    color: #5c6bc0;
}

.link_navHeaderItem:active:after {
    content: '';
    height: 0;
}

.item__search {  
    display: inline-block;
    width: 20px; 
    height: 19px;
}

.item__search_header {
    background: url(../images/search.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item__search_header:hover {
    background: url(../images/search_hover.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
} 

.post {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 50px;
}

.post__content {
    position: relative;
    padding: 58px 100px 75px 100px;
}

.content__category {
    background: #5c6bc0;
    text-decoration: none;
    width: 88px;
    height: 33px;
    position: absolute;
    right: -11px;
    top: 31px;
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
    color: #fafafd;
    text-transform: capitalize;
}

.content__category:hover {
    background: #6b79c6;
    line-height: 35px;
    width: 92px;
    height: 37px;
    right: -17px;
    top: 27px;
}

.content__category:active {
    background: #5360ad;
}

.post__image {
    /* height: 535px;
    width: 955px; */
    height: 50%;
    width: 100%;
    
}

.post__image_background {
    position: relative;
}

.post__image_background:after{ 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0.5%; 
    background: rgba(0,0,0,.5); 
    opacity: 0; 
}

.post__image_background:hover:after {
    opacity: 0.65;
}
 
.content__title {
    border-bottom: 2px solid #eeeeee;
}

.title__date {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #bdbdbd;
}

.title_base {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 4em;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}

.content__article {
    margin: 40px 0 50px 0;
    text-align: left;
}

.text_base {
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.7em;
    line-height: 30px;
    color: #333333;
    font-family: "Lato", sans-serif;
}

.text_complementary {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 2.5em;
    line-height: 38px;
    color: #7f7f7f;
    margin: 0;
    margin-bottom: 30px;
}

.text_idea {
    position: relative;
    font-size: 2em;
    line-height: 30px;
    color: #999999;
    font-family: "Lato", sans-serif;
    padding-left: 30px;
}

.text_idea::before {
    content: '';
    position: absolute;
    background-color: #999999;
    height: 100%;
    width: 4px;
    left: 0;
}

.link_in_text {
    text-decoration: none;
    color: #5c6bc0;
    position: relative;
}

.link_in_text::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    width: calc(100% - 4px);
    bottom: -2px;
    left: -4px;
}

.content_image {
    height: 385px;
    width: 170px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
}

.content__footer {
    position: relative;
    width: 100%;
    
}

.footer__buttonMore {
    border: 1px solid #ffffff;
    padding: 25px 15px;
    color: #5c6bc0;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 2.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.footer__buttonMore:hover {
    border: 1px solid #f1f1f1;
}

.footer__buttonMore:active {
    border: 1px solid #5c6bc0;
} 

.footer__hashtag {
    position: absolute;
    right: 0;
    display: inline-block;
}

.hashtag_item {
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    color: #b3b3b3;
}

.hashtag_item::before {
    content: '#';
}

.hashtag_item::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    bottom: -1px;
    left: 100%;
    right: 0;
    transition: left 0.3s ease-in-out;
}

.hashtag_item:hover {
    color: #5c6bc0;
}

.hashtag_item:hover:before {
    color: #5c6bc0;
}

.hashtag_item:hover:after {
    left: 10px;
}

.hashtag_item:active:after {
    content: '';
    height: 0;
}

/*footer*/
.footer {
    text-align: center;
    background: #5c6bc0;
    padding: 120px 0; 
    margin-left: -10%;
    margin-top: 50px;
    width: 120%;
}

.footer__content {
    width: 60%;
    margin: auto;
}

.footer__header {
    border-bottom: 2px solid #5765b5;
}

.navigation_footer {
    display: block;
    margin-top: 55px;
    margin-bottom: 40px;
}

.navigation__item_footer {
    display: inline-block;
    font-weight: bolder;
    margin-right: 35px;
}

.navigation__item_home {
    margin-right: 15px;
}

.link_navFooterItem {
    position: relative;
    text-decoration: none;
    color: #f4f5fb;
    
}


.link_navFooterItem::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #f4f5fb;
    bottom: -2px;
    right: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
}

.link_navFooterItem:hover:after {
    left: 0;
}

.link_navFooterItem:active {
    color: #f4f5fb;
}

.link_navFooterItem:active:after {
    content: '';
    height: 0;
}

.item__search_footer {
    background: url(../images/searchFooter.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.navigation__item_search {
    padding: 3px 3px;
}

.navigation__item_search:hover {
    background: #5360ac;
}

.navigation__item_footer > .link_disable {
    color: #9da6d9;
}

.main__text_footer {
    margin: 40px 0;
    font-size: 1.3em;
    line-height: 23px;
    color: #9da6d9;
    font-family: "Lato", sans-serif;
    text-align: center;
    position: relative;
}

.main__text_footer::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #5765b5;
    width: 80%;
    left: 10%;
    bottom: -40px;
}

.footer__footer {
    padding-top: 35px;
}

.footer__copyright {
    margin: 0px;
    margin-bottom: 35px;
    font-size: 1.4em;
    color: #9da6d9;
    font-family: "Lato", sans-serif;
}

.link_copyright {
    position: relative;
    text-decoration: none;
    color: #f4f5fb;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.link_copyright::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #f4f5fb;
    bottom: -2px;
    right: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
}

.link_copyright:hover:after {
    left: 0;
}

.soc-net__item {
    display: inline-block;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    padding: 3px;
}

.soc-net__item:hover {
    background: #5360ac;
}

.item {
    display: inline-block;
    width: 100%;
    height: 100%; 
}

.item_facebook {
    background: url(../images/soc_networks/facebook.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item_instagram {
    background: url(../images/soc_networks/instagram.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item_pinterest {
    background: url(../images/soc_networks/pinterest.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item_twitter {
    background: url(../images/soc_networks/twitter.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

@media screen and (max-width: 480px) {
    .navigation_header {
        cursor: pointer;
        background: url(../images/burger.png) no-repeat;
        height: 40px;
        width: 40px;
    }

    .navigation__item_header {
        display: none;
        position: relative;
        right: 70px;
        top: -10px;
        margin-left: 0;
        padding-top: 5px;
        padding-right: 100px;
    }

    .navigation_header:hover .navigation__item_header {
        display: block;  
    }    

    .navigation__item_header:hover {
        display: block;
    }

    .post__content {
        
        padding: 58px 40px 75px 40px;
    }

    .footer__buttonMore {
        margin-left: -15px;
    }

    .footer__hashtag {
        position: unset;
        display: block;
        margin-left: -10px;
        margin-top: 25px;
    }

    .content__category {
        right: 0;
        top: 0;
    }

    .content__category:hover {
        right: -6px;
        top: 4px;
    }

    .content_image {
        display: block;
        margin: auto;
        padding-right: 0;
        float: unset;
    }

    .text_idea::before {
        width: 2px;        
    }

    .footer__content {
        width: 80%;
        margin: auto;
    }

    .navigation__item_footer {
        display: inline-block;
        margin-right: 2%;
    }

    .navigation__item_search {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .post__content {
        
        padding: 58px 10px 75px 10px;
    }

    .footer__hashtag {
        margin-left: -5px;
    }

    .hashtag_item {
        margin-left: 5px;
    }

    .navigation__item_footer {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .navigation__item_search {
        display: none;
    }
    .soc-net__item {
        margin-left: 3%;
    }
}