{{#> layout/layout}}
   <main class="main">
    <form class="registration-form registration-form_shadow ">
        <fieldset class="form__title content">
            <h1 class="title_base">Contact Us</h1>
            <p class="text_base">
                Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
            </p>
        </fieldset>
        <fieldset class="form__input content">
            <input tabindex="1" class="input__name input_seven-bits-style" type="text" placeholder="Your Name">
            <input tabindex="2" class="input__email input_seven-bits-style" type="text" placeholder="Email">
            <input tabindex="3" class="input__subject input_seven-bits-style" type="text" placeholder="Subject">
            <textarea tabindex="4" class="input__message input_seven-bits-style" type="text" placeholder="Your Message"></textarea>
            <input tabindex="5" class="input__submit" type="submit" value="send message">
        </fieldset>
    </form>
</main>
{{/layout/layout}}