<header class="header">
    <a class="header__logo" href="./index.html">
        <img class="logo" src="../images/PaloAlto.png" alt="There should be a logo">
    </a>
    <nav class="navigation navigation_header list">
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__home" href="./index.html">home</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__about" href="aboute.com">about</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__archive" href="archive.com">archive</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__contact" href="./contact.html">contact</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="item__search item__search_header" href="search.com">             
            </a>
        </li>
    </nav>

</header>