<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits homework</title>
    <link rel="stylesheet" href="../styles/contact.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<header class="header">
    <a class="header__logo" href="./home.html">
        <img class="logo" src="../images/PaloAlto.png" alt="There should be a logo">
    </a>
    <nav class="navigation navigation_header list">
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__home" href="./home.html">home</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__about" href="aboute.com">about</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__archive" href="archive.com">archive</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="link_navHeaderItem item__contact link_disable" href="./contact.html">contact</a>
        </li>
        <li class="navigation__item navigation__item_header">
            <a class="item__search item__search_header" href="search.com">             
            </a>
        </li>
    </nav>
</header>
<main class="main">
    <form class="registration-form registration-form_shadow ">
        <fieldset class="form__title content">
            <h1 class="title_base">Contact Us</h1>
            <p class="text_base">
                Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
            </p>
        </fieldset>
        <fieldset class="form__input content">
            <input tabindex="1" class="input__name input_seven-bits-style" type="text" placeholder="Your Name">
            <input tabindex="2" class="input__email input_seven-bits-style" type="text" placeholder="Email">
            <input tabindex="3" class="input__subject input_seven-bits-style" type="text" placeholder="Subject">
            <textarea tabindex="4" class="input__message input_seven-bits-style" type="text" placeholder="Your Message"></textarea>
            <input tabindex="5" class="input__submit" type="submit" value="send message">
        </fieldset>
    </form>
</main>

<footer class="footer">
    <div class="footer__content">
    <header class="footer__header">
        <a class="footer__logo" href="./home.html">
            <img class="logo" src="../images/PaloAltoFooter.png" alt="There should be a logo">
        </a>
        <nav class="navigation navigation_footer list">
            <li class="navigation__item navigation__item_footer navigation__item_home">
                <a class="link_navFooterItem item__home" href="./home.html">home</a>
            </li>
            <li class="navigation__item navigation__item_footer">
                <a class="link_navFooterItem item__about" href="aboute.com">about</a>
            </li>
            <li class="navigation__item navigation__item_footer">
                <a class="link_navFooterItem item__archive" href="archive.com">archive</a>
            </li>
            <li class="navigation__item navigation__item_footer">
                <a class="link_navFooterItem item__contact link_disable" href="./contact.html">contact</a>
            </li>
            <li class="navigation__item navigation__item_footer navigation__item_search">
                <a class="item__search item__search_footer" href="search.com">
                </a>
            </li>
        </nav>
    </header>
    <main class="footer__main">
        <p class="main__text_footer">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
    </main>
    <footer class="footer__footer">
        <p class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="link_copyright" href="www.PixelBuddha.com">PixelBuddha Team</a></p>
        <ul class="soc-net list">
            <li class="soc-net__item">
                <a class="item item_facebook" href="http://www.facebook.com"></a>
            </li>
            <li class="soc-net__item">
                <a class="item item_instagram" href="http://www.instagram.com"></a>
            </li>
            <li class="soc-net__item">
                <a class="item item_pinterest" href="http://www.pinterest.com"></a>
            </li>
            <li class="soc-net__item">
                <a class="item item_twitter" href="http://www.twitter.com">
                </a>
            </li>
        </ul>    
    </footer>
    </div>
</footer>
</body>
</html>