.post {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 50px;
}

/* .item__home {
    pointer-events: none;
}

.navigation__item_footer > .item__home {
    color: #9da6d9;
}

.navigation__item_header > .item__home {
    color: #bdbdbd;
} */

.post__content {
    position: relative;
    padding: 58px 100px 75px 100px;
}

.content__category {
    background: #5c6bc0;
    text-decoration: none;
    width: 88px;
    height: 33px;
    position: absolute;
    right: -11px;
    top: 31px;
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
    color: #fafafd;
    text-transform: capitalize;
}

.content__category:hover {
    background: #6b79c6;
    line-height: 35px;
    width: 92px;
    height: 37px;
    right: -17px;
    top: 27px;
}

.content__category:active {
    background: #5360ad;
}

.post__image {
    /* height: 535px;
    width: 955px; */
    height: 50%;
    width: 100%;
    
}

.post__image_background {
    position: relative;
}

.post__image_background:after{ 
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0.5%; 
    background: rgba(0,0,0,.5); 
    opacity: 0; 
}

.post__image_background:hover:after {
    opacity: 0.65;
}
 
.content__title {
    border-bottom: 2px solid #eeeeee;
}

.title__date {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Lato", sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #bdbdbd;
}

.title_base {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 4em;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 40px;
}

.content__article {
    margin: 40px 0 50px 0;
    text-align: left;
}

.text_base {
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.7em;
    line-height: 30px;
    color: #333333;
    font-family: "Lato", sans-serif;
}

.text_complementary {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 2.5em;
    line-height: 38px;
    color: #7f7f7f;
    margin: 0;
    margin-bottom: 30px;
}

.text_idea {
    position: relative;
    font-size: 2em;
    line-height: 30px;
    color: #999999;
    font-family: "Lato", sans-serif;
    padding-left: 30px;
}

.text_idea::before {
    content: '';
    position: absolute;
    background-color: #999999;
    height: 100%;
    width: 4px;
    left: 0;
}

.link_in_text {
    text-decoration: none;
    color: #5c6bc0;
    position: relative;
}

.link_in_text::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    width: calc(100% - 4px);
    bottom: -2px;
    left: -4px;
}

.content_image {
    height: 385px;
    width: 170px;
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
}

.content__footer {
    position: relative;
    width: 100%;
    
}

.footer__buttonMore {
    border: 1px solid #ffffff;
    padding: 25px 15px;
    color: #5c6bc0;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 2.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.footer__buttonMore:hover {
    border: 1px solid #f1f1f1;
}

.footer__buttonMore:active {
    border: 1px solid #5c6bc0;
} 

.footer__hashtag {
    position: absolute;
    right: 0;
    display: inline-block;
}

.hashtag_item {
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    color: #b3b3b3;
}

.hashtag_item::before {
    content: '#';
}

.hashtag_item::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    bottom: -1px;
    left: 100%;
    right: 0;
    transition: left 0.3s ease-in-out;
}

.hashtag_item:hover {
    color: #5c6bc0;
}

.hashtag_item:hover:before {
    color: #5c6bc0;
}

.hashtag_item:hover:after {
    left: 10px;
}

.hashtag_item:active:after {
    content: '';
    height: 0;
}

@media screen and (max-width: 480px) {
    .post__content {
        
        padding: 58px 40px 75px 40px;
    }

    .footer__buttonMore {
        margin-left: -15px;
    }

    .footer__hashtag {
        position: unset;
        display: block;
        margin-left: -10px;
        margin-top: 25px;
    }

    .content__category {
        right: 0;
        top: 0;
    }

    .content__category:hover {
        right: -6px;
        top: 4px;
    }

    .content_image {
        display: block;
        margin: auto;
        padding-right: 0;
        float: unset;
    }

    .text_idea::before {
        width: 2px;        
    }
}

@media screen and (max-width: 320px) {
    .post__content {
        
        padding: 58px 10px 75px 10px;
    }

    .footer__hashtag {
        margin-left: -5px;
    }

    .hashtag_item {
        margin-left: 5px;
    }
}