<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>7bits homework</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="header">
    <img class="header__logo" src="../images/PaloAlto.png" alt="There should be a logo">
    <ul class="header__navigation">
        <li class="navigation__home">home</li>
        <li class="navigation__about">aboute</li>
        <li class="navigation__archive">archive</li>
        <li class="navigation__contact">contact</li>
        <img class="navigation__search" src="../images/search.png">
    </ul>
</div>

<div class="main">
    <div class="main__post">
        <div class="post__header">
            <div class="post_header__category">i do travel</div>
            <h3 class="post_header__date">Sep 20</h3>
            <h1 class="post_header__headline">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
        </div>
        <div class="post__main">
            <p class="post_main__base_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
        </div>
        <div class="post__footer">
            <a class="post_footer__link_more" href="www.more.com">read more</a>
            <ul class="post_footer__hashtags">
                <li class="hashtag">Yosemite</li>
                <li class="hashtag">Peak</li>
                <li class="hashtag">Explorer</li>
            </ul>
        </div>
    </div>
    <div class="main__post">
        <div class="main__post_image">
            <img class="post_image" src="../images/post_mountains.png">
        </div>
        <div class="post__header">
            <div class="post_header__category">i do observ</div>
            <h3 class="post_header__date">Sep 18</h3>
            <h1 class="post_header__headline">You know, I'd rather argue with you, then laugh with anyone else.</h1>
        </div>
        <div class="post__main">
            <p class="post_main__complementary_text">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</p>
            <p class="post_main__base_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            <p class="post_main__base_text">Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.</p>
        </div>
        <div class="post__footer">
            <a class="post_footer__link_more" href="www.more.com">read more</a>
            <ul class="post_footer__hashtags">
                <li class="hashtag">Yosemite</li>
                <li class="hashtag">Peak</li>
                <li class="hashtag">Photo</li>
            </ul>
        </div>
    </div>
    <div class="main__post">
        <div class="post__header">
            <div class="post_header__category">do reflect</div>
            <h3 class="post_header__date">Sep 11</h3>
            <h1 class="post_header__headline">Democracy means simply the bludgeoning of the people by the people for the people.</h1>
        </div>
        <div class="post__main">
            <img class="post_image" src="../images/post_sculpture.png">
            <p class="post_main__base_text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
            <p class="post_main__base_text">Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem,<a class="link_in_text" href="www.vestibulum.com"> vestibulum malesuada </a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.</p>
            <p class="post_main__idea_text">Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.</p>
            <p class="post_main__base_text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.</p>
        </div>
        <div class="post__footer">
            <a class="post_footer__link_more" href="www.more.com">read more</a>
            <ul class="post_footer__hashtags">
                <li class="hashtag">Democracy</li>
                <li class="hashtag">Introspection</li>
            </ul>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer__header">
        <img class="footer__logo" src="../images/PaloAlto.png" alt="There should be a logo">
        <ul class="header__navigation">
            <li class="navigation__home">home</li>
            <li class="navigation__about">aboute</li>
            <li class="navigation__archive">archive</li>
            <li class="navigation__contact">contact</li>
            <img class="navigation__search" src="../images/search.png">
        </ul>
    </div>
    <div class="footer__main">
        <p class="footer_main__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</p>
    </div>
    <div class="footer__footer">
        <p class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <a class="link_copyright">PixelBuddha Team</a></p>
        <div class="link__social_networks">
            <a class="link_soc_net" href="www.facebook.com"><img src="../images/soc_networks/facebook.png"></a>
            <a class="link_soc_net" href="www.instagram.com"><img src="../images/soc_networks/instagram.png"></a>
            <a class="link_soc_net" href="www.printerest.com"><img src="../images/soc_networks/pinterest.png"></a>
            <a class="link_soc_net" href="www.twitter.com"><img src="../images/soc_networks/twitter.png"></a>
        </div>
    </div>
</div>
</body>
</html>