body {
    background-color: #f7f9fc;
    width: 955px; 
    margin: auto;
    margin-top: 80px;
}

.header {
    position: relative;
    margin-bottom: 80px;
    width: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    display: inline-block;
    text-transform: uppercase;
}

.navigation_header {
    position: absolute;
    right: 0;
}

.navigation__item {
    display: inline;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.05em;
    font-size: 16px;
}

.navigation__item_header {
    margin-left: 40px;
    font-weight: bolder;
}

.navigation__item_header > .link_disable {
    color: #bdbdbd;
}

.link_navHeaderItem {
    text-decoration: none;
    color: #333333;
    position: relative;
}

.link_disable {
    pointer-events: none;
}

.link_navHeaderItem::after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #5c6bc0;
    bottom: -4px;
    right: -2px;
    left: calc(100% + 2px);
    transition: left 0.3s ease-in-out;
}

.link_navHeaderItem:hover:after {
    left: -2px;
}

.link_navHeaderItem:active {
    color: #5c6bc0;
}

.link_navHeaderItem:active:after {
    content: '';
    height: 0;
}

.item__search {  
    display: inline-block;
    width: 20px; 
    height: 19px;
}

.item__search_header {
    background: url(../images/search.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item__search_header:hover {
    background: url(../images/search_hover.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
} 

.post {
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin: 0;
    margin-bottom: 50px;
}

.post__content {
    position: relative;
    padding: 58px 100px 75px 100px;
}

.content__category {
    background: #5c6bc0;
    text-decoration: none;
    width: 88px;
    height: 33px;
    position: absolute;
    right: -11px;
    top: 31px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    line-height: 30px;
    color: #fafafd;
    text-transform: capitalize;
}

.content__category:hover {
    background: #6b79c6;
    line-height: 40px;
    width: 96px;
    height: 41px;
    right: -19px;
    top: 23px;
}

.content__category:active {
    background: #5360ad;
}

.post__image_background {
    height: 535px;
    width: 955px;
    background:black; 
}

.post__image {
    height: 535px;
    width: 955px;
}

.post__image:hover {
    opacity: 0.65;
}

.content__title {
    border-bottom: 2px solid #eeeeee;
}

.title__date {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #bdbdbd;
}

.title__headline {
    margin: 0;
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.content__article {
    margin: 40px 0 50px 0;
    text-align: left;
}

.text_base {
    margin: 0;
    margin-bottom: 25px;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    font-family: "Lato", sans-serif;
}

.text_complementary {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-size: 25px;
    line-height: 38px;
    color: #7f7f7f;
    margin: 0;
    margin-bottom: 30px;
}

.text_idea {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    color: #999999;
    font-family: "Lato", sans-serif;
    padding-left: 30px;
}

.text_idea::before {
    content: '';
    position: absolute;
    background-color: #999999;
    height: 100%;
    width: 4px;
    left: 0;
}

.link_in_text {
    text-decoration: none;
    color: #5c6bc0;
    position: relative;
}

.link_in_text::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    width: calc(100% - 4px);
    bottom: -2px;
    left: -4px;
}

.content_image {
    padding-right: 30px;
    padding-bottom: 30px;
    float: left;
}

.content__footer {
    position: relative;
    width: 770px;
    left: -15px;
}

.footer__buttonMore {
    border: 1px solid #ffffff;
    padding: 25px 15px;
    color: #5c6bc0;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer__buttonMore:hover {
    border: 1px solid #f1f1f1;
}

.footer__buttonMore:active {
    border: 1px solid #5c6bc0;
} 

.footer__hashtag {
    position: absolute;
    right: 0;
    display: inline-block;
}

.hashtag_item {
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: #b3b3b3;
}

.hashtag_item::before {
    content: '#';
}

.hashtag_item::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #5c6bc0;
    bottom: -1px;
    left: 100%;
    right: 0;
    transition: left 0.3s ease-in-out;
}

.hashtag_item:hover {
    color: #5c6bc0;
}

.hashtag_item:hover:before {
    color: #5c6bc0;
}

.hashtag_item:hover:after {
    left: 10px;
}

.hashtag_item:active:after {
    content: '';
    height: 0;
}


.footer {
    text-align: center;
    padding: 60px 260px;
    background: #5c6bc0;
    margin-left: -130px;
    margin-top: 50px;
    width: 700px;
}

.footer__header {
    border-bottom: 2px solid #5765b5;
}

.navigation_footer {
    display: block;
    margin-top: 55px;
    margin-bottom: 40px;
}

.navigation__item_footer {
    font-weight: bolder;
    margin-right: 35px;
}

.navigation__item_home {
    margin-right: 15px;
}

.link_navFooterItem {
    position: relative;
    text-decoration: none;
    color: #f4f5fb;
    
}


.link_navFooterItem::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #f4f5fb;
    bottom: -2px;
    right: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
}

.link_navFooterItem:hover:after {
    left: 0;
}

.link_navFooterItem:active {
    color: #f4f5fb;
}

.link_navFooterItem:active:after {
    content: '';
    height: 0;
}

.item__search_footer {
    background: url(../images/searchFooter.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.navigation__item_search {
    padding: 3px 3px;
}

.navigation__item_search:hover {
    background: #5360ac;
}

.navigation__item_footer > .link_disable {
    color: #9da6d9;
}

.main__text_footer {
    margin: 40px 0;
    font-size: 13px;
    line-height: 23px;
    color: #9da6d9;
    font-family: "Lato", sans-serif;
    text-align: center;
    position: relative;
}

.main__text_footer::after {
    content: '';
    position: absolute;
    height: 2px;
    background-color: #5765b5;
    width: 80%;
    left: 10%;
    bottom: -40px;
}

.footer__footer {
    padding-top: 35px;
}

.footer__copyright {
    margin: 0px;
    margin-bottom: 35px;
    font-size: 14px;
    color: #9da6d9;
    font-family: "Lato", sans-serif;
}

.link_copyright {
    position: relative;
    text-decoration: none;
    color: #f4f5fb;
    font-family: "Lato", sans-serif;
    font-weight: bold;
}

.link_copyright::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: #f4f5fb;
    bottom: -2px;
    right: 0;
    left: 100%;
    transition: left 0.3s ease-in-out;
}

.link_copyright:hover:after {
    left: 0;
}

.soc-net__item {
    display: inline-block;
    margin-left: 20px;
    width: 25px;
    height: 25px;
    padding: 3px;
}

.soc-net__item:hover {
    background: #5360ac;
}

.item {
    display: inline-block;
    width: 100%;
    height: 100%; 
}

.item_facebook {
    background: url(../images/soc_networks/facebook.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item_instagram {
    background: url(../images/soc_networks/instagram.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item_pinterest {
    background: url(../images/soc_networks/pinterest.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}

.item_twitter {
    background: url(../images/soc_networks/twitter.png);
    background-repeat: no-repeat; 
    background-position-y: 2px; 
    background-position: bottom;
}