body {
    margin :0;
}

.header, .main {
    width: 1060px;
    margin: 0 auto;
}
.header {
    padding: 60px 0 5px 0;
}

.header_title {
    display: inline-block;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-right: 120px;
    width: 260px;
    font-size: 30px;
    letter-spacing: 6px;
    color: #000000;
    font-family: "Inconsolata";
    text-transform: uppercase;
    text-align: left;
    font-weight: lighter;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header_site_section {
    display: inline-block;
    text-align: right;
    height: 15px;
}
.site_section__item {
    display: inline-block;
    margin-left: 100px;
    font-size: 14px;
    color: #626262;
    font-family: "ArialMT";
    text-transform: uppercase;
}

.site_section__link{
    text-decoration: none;
    color: #626262;
}

.main {
    padding: 5px 0 240px 0;
}

.main_left, .main_right__sidebar {
    display: inline-block;
    vertical-align: top;
    padding-top: 100px;
}
.main_left {
    width: 660px;
    padding-left: 80px;
    padding-right: 5px;
}

.main_right__sidebar {
    width: 270px;
    padding-left: 40px;
}

.cover_img {
    width: 1060px;
    margin: 0;
    
}
.main_name_section {
    color: #b4ad9e;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "ArialMT";
    margin: 0;
    margin-bottom: 25px;
}

.main_title {
    text-align: left;
}

.main_article_title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 30px;
    font-family: "ArialMT";
    color: #626262;
    font-weight: lighter;
}

.content_text {
    font-size: 14px;
    font-family: "ArialMT";
    line-height: 1.5;
    margin: 0;
    color: #626262;
}

.content_img {
    width: 660px;
    margin: 40px 0 40px 0;
}

.personal-info {
    text-align: left;
}

.personal__avatar {
    width: 270px;
    margin-bottom: 25px;
}

.personal-info__title {
    font-size: 24px;
    font-family: "ArialMT";
    color: #626262;
    margin: 0;
    margin-bottom: 20px;
}
.personal-info__text {
    margin: 0;
    margin-bottom: 30px;
    color: #626262;
    font-size: 12px;
    font-family: "ArialMT";
    line-height: 1.5;
}

.top_post_title {
    font-size: 14px;
    font-family: "ArialMT";
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #b4ad9e;
}

.top_post_list {
    margin-left: 15px;
}

.top_post__item {
    list-style: disc;
    color: #b4ad9e;
    padding-left: 5px;
}

.top_post__item {
    margin-bottom: 10px;
}

.top_post__link {
    font-size: 16px;
    font-family: "ArialMT";
    text-decoration: none;
    color: #636363;
}

.item_comments {
    margin-bottom: 25px;
}

.item_comments__link {
    font-size: 12px;
    font-family: "ArialMT";
    text-decoration: none;
    text-transform: uppercase;
    color: #c2bcb0;
}

.footer{
    height: 95px;
    background-color: #f0f0f0;
}

.footer_list {
    padding-left: 140px;
    line-height: 95px;
}

.footer_list__item {
    margin-right: 20px;
    display: inline-block;
    font-family: "ArialMT";
    font-size: 14px;
}

.footer_list__link {
    color : #000000;
    text-decoration: none;
}